<h1>Welcome to Cavatina!</h1>

<div class="parallax-container">
  <div class="parallax"><%= image_tag("parallax-1.jpg") %></div>
</div>
<div class="section white">
  <div class="row container">
    <a href="/about_us"><h2 class="header">About Us</h2></a>
    <p class="grey-text text-darken-3 lighten-3">We are working non-stop to bring you the services you deserve and love. Come on in and get to know us!</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag("parallax-2.jpg") %></div>
</div>
<div class="section white">
  <div class="row container">
    <a href="/contact"></ABBR><h2 class="header">Contact Us</h2></a>
    <p class="grey-text text-darken-3 lighten-3">Give us a ring or send a message to our moderator for any inquiries...</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag("parallax-3.jpg") %></div>
</div>