<h1>Welcome to Cavatina!</h1>

<div class="parallax-container">
  <div class="parallax"><%= image_tag("parallax-1.jpg") %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Welcome to my fancy page that scrolls with parallax. I may go on to talk about how high my iq is from a highly accredited source. I believe everything I am told.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag("parallax-2.jpg") %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Whatup?!?!??!</h2>
    <p class="grey-text text-darken-3 lighten-3">This is totally separate content that may include other information about our establishment. Something to highlight how awesome we are and the list goes on endlessly.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag("parallax-3.jpg") %></div>
</div>