<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

<% if user_signed_in? %>
  <div class="modal">
    <label for="modal-1">
      <div class="modal-trigger">Click to Make a Reservation</div>
    </label>
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <label class="modal-close" for="modal-1"></label>
        <h1>Make a reservation</h1>
        <p class="modal-intro"></p>
        <p class="modal-content"><div class="something"><%= render 'form' %></div></p>
      </div>
    </div>
  </div>
<% end %>

<div class="button-group">
  <input  name="room_group" class="button-1" type="radio" checked>Show all</input><!-- show events for all rooms -->
  <input  name="room_group" class="button-2" value="2" type="radio">Mountain King Hall</input> <!-- events for room_id: 2 -->
  <input  name="room_group" class="button-3" value="3" type="radio">Al Pacino Recording Studio</input> <!-- events for room_id: 3 -->
  <input  name="room_group" class="button-4" value="4" type="radio">Clear Heights Room</input> <!-- events for room_id: 4 -->
  <input  name="room_group" class="button-5" value="5" type="radio">Hall of Destiny</input> <!-- events for room_id: 5 -->
</div>

<div id='calendar'></div>

<ul>
  <% @reservations.each do |reservation| %>
    <li><%= render reservation %></li>
  <% end %>
</ul>


<br>


<!-- :type_of_reservation, :date, :time_in, :time_out, :open_to_public -->
