<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

<% if user_signed_in? %>
  <div class="modal">
    <label for="modal-1">
      <div class="modal-trigger">Make a Reservation</div>
    </label>
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <label class="modal-close" for="modal-1"></label>
        <h1>Make a reservation</h1>
        <p class="modal-content"><div class="something"><%= render 'form' %></div></p>
      </div>
    </div>
  </div>
<% end %>

<div class="button-group">
  <label>
    <input type="radio" name="button-group" class="button-1" checked>
    <span class="button-group-item">Show all</span>
  </label>
  <label>
    <input type="radio" name="button-group" class="button-2" value="2">
    <span class="button-group-item">Mountain King Hall</span>
  </label>
  <label>
    <input type="radio" name="button-group" class="button-3" value="3">
    <span class="button-group-item">Al Pacino Recording Studio</span>
  </label>
  <label>
    <input type="radio" name="button-group" class="button-4" value="4">
    <span class="button-group-item">Clear Heights Room</span>
  </label>
  <label>
    <input type="radio" name="button-group" class="button-5" value="5">
    <span class="button-group-item">Hall of Destiny</span>
  </label>
</div>



<div id='calendar'></div>

<ul>
  <% @reservations.each do |reservation| %>
    <li><%= render reservation %></li>
  <% end %>
</ul>


<br>


<!-- :type_of_reservation, :date, :time_in, :time_out, :open_to_public -->
