<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<%= link_to 'Start a Discussion', new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <li><%= render post %></li>
  <% end %>
</ul>

<br>

